:root {
    --primary-blue: #1d1b67;
    --cyan: #46ccde;
    --light-blue: #cdf9ff;

    --link: #425466;

    --btn-text: #ffffff;
    --btn-background: #1d1b67;

    --text-black: #000000;
    --text-dark: #425466;
    --text-green: #d1d4d9;
    --text-blue: #d1d4d9;
}
